.cellListWidget {
  color: #021650;
  background-color: #021650;
}

.cellListEvenItem {
  cursor: pointer;
  zoom: 1;
  background: white;
}

.cellListOddItem {
  cursor: pointer;
  zoom: 1;
  background: white;
}

.cellListKeyboardSelectedItem {
  background: #ffc;
}

.cellListSelectedItem {
  background-color: #DDDDDD;
  height: auto;
  overflow: visible;
}